<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chart test</title>
    <style>
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        iframe{
            width: 1024px;
            height: 1000px;
        }
    </style>
</head>
<body>
    <div class="chart">
        <iframe id="igraph" scrolling="no" seamless="seamless" src="https://plotly.com/~tomek.lechu/2.embed?showlink=false"></iframe>
    </div>
</body>
</html>