<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Waluty - Trading </title>
  </head>
  <body>
  <header>
        <nav class="navbar navbar-light bg-light navbar-expand-lg navbar-toggleable-lg border-bottom box-shadow mb-3" style="background-color: forestgreen;">
            <div class="container">
                <a class="navbar-brand" href="/">Trade</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">O nas</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/team">Dream Team</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/contact">Kontakt</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/charts">Wykresy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/currencyexchanger">currencyexchanger</a>
                        </li>

                        {%if user.is_authenticated%}
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="logout">Wyloguj mnie</a>

                            </li>
                        {%else%}
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/login">Zaloguj</a>
                            </li>
                        {%endif%}    
                    </ul>
                </div>
            </div>
        </nav>
    </header>

  {% block content %}
  {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>