{%extends "base.html"%}

{%block title%} Rejestracja {%endblock%}
{%load crispy_forms_tags%}
{%block content%}
<head>
	<title>Contact V10</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
    <form method="POST" class="form-group">
    {%csrf_token%}   
    {{form|crispy}}
    <button type ="submit" class="btn btn-success">Zarejestruj</button>
    </form>

{%endblock%}